Repository jonaengs/minigolf-with-friends, pull requests merged in 2021-04, with the labels that each got.

#21 #15 levels
  android/assets/levels/drawio.xml
  android/assets/levels/level_2.xml
  android/assets/levels/levels_list.txt
  android/assets/levels/new_level.xml
  build.gradle
  core/build.gradle
  core/src/com/mygdx/minigolf/Game.java
  core/src/com/mygdx/minigolf/HeadlessGame.java
  core/src/com/mygdx/minigolf/controller/ComponentMappers.java
  core/src/com/mygdx/minigolf/controller/EntityFactory.java
  core/src/com/mygdx/minigolf/controller/LayerComparator.java
  core/src/com/mygdx/minigolf/controller/systems/GraphicsSystem.java
  core/src/com/mygdx/minigolf/controller/systems/LayerComparator.java
  core/src/com/mygdx/minigolf/controller/systems/ObjectiveSystem.java
  core/src/com/mygdx/minigolf/controller/systems/Physics.java
  core/src/com/mygdx/minigolf/model/components/Graphical.java
  core/src/com/mygdx/minigolf/model/components/Objective.java
  core/src/com/mygdx/minigolf/model/components/PowerUpTaker.java
  core/src/com/mygdx/minigolf/model/levels/CourseElement.java
  core/src/com/mygdx/minigolf/model/levels/CourseLoader.java
  core/src/com/mygdx/minigolf/model/levels/Level.java
  core/src/com/mygdx/minigolf/model/levels/LevelLoader.java
  core/src/com/mygdx/minigolf/view/GameView.java
  core/src/test/java/CourseTest.java
  core/src/test/java/LevelLoaderTest.java
  core/src/test/java/TestFileLoader.java
  core/src/test/java/TestTest.java
  core/src/test/resources/levels/all_shapes.xml
  core/src/test/resources/levels/bare_minimum.xml
  core/src/test/resources/levels/copies/drawio.xml
  core/src/test/resources/levels/copies/level_2.xml
  core/src/test/resources/levels/copies/levels_list.txt
  core/src/test/resources/levels/copies/new_level.xml
  core/src/test/resources/levels/illegal_element_position.xml
  core/src/test/resources/levels/missing_course.xml
  core/src/test/resources/levels/missing_hole.xml
  core/src/test/resources/levels/missing_spawn.xml
  core/src/test/resources/levels/out_of_bounds_elem.xml
  core/src/test/resources/test.txt
  core/src/test/resources/test.xml
  desktop/src/com/mygdx/minigolf/desktop/DesktopLauncher.java
  gradlew
Labels: Assets, Levels

#37 #35 Friction on player
  core/src/com/mygdx/minigolf/controller/EntityFactory.java
  core/src/com/mygdx/minigolf/controller/systems/Physics.java
  core/src/com/mygdx/minigolf/model/components/Physical.java
  core/src/com/mygdx/minigolf/view/GameView.java
Labels: Physics

#40 Viewport
  android/AndroidManifest.xml
  android/src/com/mygdx/minigolf/AndroidLauncher.java
  core/src/com/mygdx/minigolf/controller/systems/GraphicsSystem.java
  core/src/com/mygdx/minigolf/model/levels/CourseElement.java
  core/src/com/mygdx/minigolf/model/levels/CourseLoader.java
  core/src/com/mygdx/minigolf/util/Constants.java
  core/src/com/mygdx/minigolf/view/GameView.java
Labels: Graphics, IMPORTANT

#44 Input Indicators
  android/assets/levels/drawio.xml
  android/assets/levels/level_2.xml
  android/assets/levels/levels_list.txt
  core/src/com/mygdx/minigolf/controller/EntityFactory.java
  core/src/com/mygdx/minigolf/controller/InputHandler.java
  core/src/com/mygdx/minigolf/controller/systems/GraphicsSystem.java
  core/src/com/mygdx/minigolf/model/components/Graphical.java
  core/src/com/mygdx/minigolf/model/components/Physical.java
  core/src/com/mygdx/minigolf/view/GameView.java
Labels: Graphics
